<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{url_for('static',filename='css/output.css')}}"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>QuickMed</title>
  </head>
  <body>
    <div
      class="flex flex-row gap-9 items-center justify-evenly w-full h-12 mt-5 border-b-lime-200"
    >
      <div class="text-3xl font-poppins text-[#508D4E] font-semibold">
        <a href="/">QuickMed</a>
      </div>
      <div class="text-xl"><a href="">About</a></div>
      <div class="text-xl"><a href="">Services</a></div>
      <div class="text-xl"><a href="">How it Works</a></div>
      <div class="text-xl">
        <a href="login" class="bg-[#508D4E] rounded-md px-4 py-2 text-white">
          Log In
        </a>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div class="bg-[#D6EFD8] p-5 rounded-md w-[1080px]">
        <h2 class="mb-5 font-poppins text-4xl text-black text-center">
          Unsure about your medicines?
        </h2>
        <form action="/submit_signup" method="post">
          <label class="block mb-1" for="name">Name</label>
          <input
            class="w-full mb-2 border-2 border-lime-200 rounded-md"
            type="text"
            id="name"
            name="name"
            required
          />

          <label class="block mb-1" for="email">Email</label>
          <input
            class="w-full mb-2 border-2 border-lime-200 rounded-md"
            type="email"
            id="email"
            name="email"
            required
          />

          <label class="block mb-1" for="password">Password</label>
          <input
            class="w-full mb-2 border-2 border-lime-200 rounded-md"
            type="password"
            id="password"
            name="password"
            required
          />

          <button type="submit">Signup</button>
        </form>
      </div>
    </div>
  </body>
</html>
